<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serving static file</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="card">
        <h2>welocome</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab amet eaque quia vero
             nam possimus architecto dolor.
             Culpa repellendus, optio officia ipsam facilis aut similique libero itaque est earum.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Nostrum saepe quaerat aliquam. Quos repellendus magnam, 
            consectetur inventore repellat blanditiis culpa sequi et adipisci
             voluptas velit fugit beatae molestiae laboriosam quo.</p>
    </div>

</body>
</html>